.banner {
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 25px;
  font-weight: bolder;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  padding: 200px 0;
  margin: 0 auto;
  font-margin: 10px;
  text-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
  color: white;
  background-size: cover;
  font-family: 'Source Sans Pro', sans-serif;
  background-position: center;
}
.text {
  padding: 70px;
}
.text button {
color: white;
text-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
background-color: #ffb997;
border-radius: 34px;
transition: 1s;
padding: 15px 20px;
margin:10px;
font-size: 17px;
}
.text button:hover {
  background: #007065;
}
